<div class='subWindow'>
  <div class='navArea'>
    <a href="#" class="subPageLink" mainView="create" title="FOG Printer" subTitle="Create Printer" href="#">Create Printer</a><br/>
    <a href="#" class="subPageLink" mainView="#" title="FOG Printer" onClick='$.fogPrinter.ListAll();' subTitle="List Printers" href="#">List All Printers</a><br/>
  </div>
  <div class="subWindowWrapper">
    <div id='printerTableView' style="margin:15px;">

    </div>
    <div style='width:100%;'>
      <button id='btnPrinterDelete' class='action-button' style='width:200px;margin-left:225px;' >Delete Selected Printers</button>
    </div>
  </div>
</div>
